.idea
*.pyc
__pycache__/
*.sh
local_tools/
*.ckpt
*.pth
infer_out/
*.zip
*.onnx
/data/*
!/data/.gitkeep
/checkpoints/*
!/checkpoints/.gitkeep
/venv/
/artifacts/
/exp/
/opt2/
/assets/
.vscode
.ipynb_checkpoints/
.DS_Store
*.DS_Store
