.idea
*.pyc
__pycache__/
*.sh
local_tools/
*.ckpt
*.pth
infer_out/
*.onnx
/data/*
!/data/.gitkeep
/checkpoints/*
!/checkpoints/.gitkeep
/venv/
/artifacts/

.vscode
.ipynb_checkpoints/
.DS_Store
*.DS_Store
