# It is recommended to install PyTorch manually.
# PyTorch >= 2.0 is recommended, but 1.12 and 1.13 is compatible.
# See instructions at https://pytorch.org/get-started/locally/

click
h5py
lightning==2.0.0
matplotlib
MonkeyType==23.3.0
onnx==1.14.0
onnxsim==0.4.31
praat-parselmouth==0.4.3
pyworld==0.3.4
PyYAML
resampy
scipy
tensorboard
tensorboardX
torchmetrics
gradio==3.27
python-dotenv>=1.0.0
uvicorn>=0.21.1
ffmpy==0.3.1
pypinyin
g2p-en
g2pM
alignment
TextGrid
SoundFile
paddlespeech==1.4.1
ffmpeg-python
python-dotenv>=1.0.0
faiss-cpu==1.7.3
fairseq==0.12.2
praat-parselmouth>=0.4.2
Pillow>=9.1.1
resampy>=0.4.2
setuptools-scm
pytest-runner
paddlepaddle==2.4.2
tqdm
montreal-forced-aligner==2.0.6
hdbscan
kaldi
sox
biopython==1.78
praatio<6.0.0
sqlalchemy==1.4.46
requests
colorama
pynini
openfst
baumwelch
ngram
numpy==1.23.5
librosa==0.9.2